@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


body {
  background: linear-gradient(to right top,#65dfc9, #6cdbeb);
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

#content-box {
  position: absolute;
  top: 45%;
  left: 10%;
  width: 40%;
  height: 380px;
  /* border: 10px solid lightgray; */
  border-radius: 2rem;
  /* background-color: green; */
  display: flex;
  margin: 0 auto;
  /* margin-top: 10%; */
  /* background-size: cover; */
  background: linear-gradient(to right bottom , rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  backdrop-filter: blur(2rem) ;
}

#pokemon-info {
  width: 600px;
  height: 500px;
  /* background-color: cyan; */
  text-align: center;
}

#pokemon-list {
  position: absolute;
  width: 30%;
  height: 350px;
  /* background-color: yellow; */
  font-size: 18px;
  overflow-y: auto;
  bottom: 5%;
  right: 15%;
  transition: 1s;
}

.pokemon-name {
  border: 1px solid black;
  border-radius: 10px;
  /* background-color: white; */
  background: linear-gradient(to right bottom , rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
  margin: 5px;
  padding: 10px;
  font-weight: 600;
  border: none;
}

.pokemon-name{
  cursor: pointer;
}

#pokemon-info img {
  width: 180px;
  height: 180px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
  background-color: black;
}

#pokemon-types {
  margin-top: 10px;
}

.type-box {
  padding: 3px;
  margin: 5px;
  /* border: 1px solid white; */
  border-radius: 10px;
  border: none;
}


.normal {
  background-color: beige;
  color: black;
}

.fire {
  background-color: orange;
  color: white;
}

.grass {
  background-color: green;
  color: white;
}

.water {
  background-color: blue;
  color: white;
}

.ice {
  background-color: lightblue;
  color: black;
}

.electric {
  background-color: gold;
  color: black;
}

.fighting {
  background-color: darkred;
  color: white;
}

.flying {
  background-color: skyblue;
  color: black;
}

.bug {
  background-color: yellowgreen;
  color: white;
}

.ghost {
  background-color: purple;
  color: white;
}

.rock {
  background-color: sienna;
  color: white;
}

.ground {
  background-color: burlywood;
  color: black;
}

.steel {
  background-color: silver;
  color: black;
}

.dark {
  background-color: darkgray;
  color: white;
}

.psychic {
  background-color: palevioletred;
  color: white;
}

.fairy {
  background-color: pink;
  color: black;
}

.dragon {
  background-color: teal;
  color: white;
}

.poison {
  background-color: darkviolet;
  color: white;
}

#pokemon-description {
  text-align:center;
  width: 80%;
  height: 95px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  border: none;
  margin: 0 auto;
  margin-top: 25px;
  padding: 2px;
  font-size: 18px;
   overflow-y: auto;
}

.circle1 ,
.circle2{
  background: white;
  background: linear-gradient(to right bottom , rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
  height: 18rem;
  width: 30%;
  position: absolute;
  border-radius: 15%;
}

.circle1{
  top: 4%;
  right: 15%;
  transition: 1s;
  width: 30%;
}

.circle1 p{
  margin-left: 13%;
  margin-top: 19%;
  padding: 5%;
}

.circle1 h2{
  text-align: center;
  /*margin-left: 22%;*/
}


.circle2{
  top: 4%;
  left: 15%;
  transition: 1s;
  text-align: center;
  height:17rem;
}

.circle2 p{
  margin-top: 19%;
  padding: 8%;
}

#char{
  width: 12%;
  position:absolute;
  left:8%;
  top: 13%;
}

.blu{
  display: flex;
  align-items: center;
  justify-content: center;
}

.map{
  position: absolute;
  left: 28%;
}

#pika{
  width: 15%;
  position: absolute;
  right: 6%;
  top: 6%;
}
