@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #0c67ae;
}

#title {
    height: 150px;
    width: 400px;
}

#board {
    width: 360px;
    height: 360px;
    background-color: lightblue;
    border: 10px solid #0c67ae;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 118px;
    height: 118px;
    border: 1px solid #0c67ae;
}

.back_mp{
    background-color: rgb(234, 206, 129);
   border: none;
   color: black;
   border-radius: 40px;
   padding: 8px 20px;
   display: inline-block;
   font-weight: 800;
   margin-right: 20px;
   text-decoration: none;
   text-transform: uppercase;
   font-family: 'Montserrat', sans-serif;
 }


