@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
   
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
   background: #eee;
}

.container{
   max-width: 1200px;
   margin:0 auto;
   padding:3rem 2rem;
}

.container .title{
   font-size: 3.5rem;
   color:#444;
   margin-bottom: 3rem;
   text-transform: uppercase;
   text-align: center;
}

.container .poke-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

.container .poke-container .game{
   text-align: center;
   padding:3rem 2rem;
   background: #fff;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   outline: .1rem solid #ccc;
   outline-offset: -1.5rem;
   cursor: pointer;
}

.container .poke-container .game:hover{
   outline: .2rem solid #222;
   outline-offset: 0;
}

.container .poke-container .game img{
   height: 25rem;
}

.container .poke-container .game:hover img{
   transform: scale(.9);
}

.container .poke-container .game h3{
   padding:.5rem 0;
   font-size: 3rem;
   color:#444;
   font-family: 'VT323', monospace;
}

.container .poke-container .game:hover h3{
   color:#ae2793;
}

.game-preview{
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.game-preview .preview{
   display: none;
   padding:2rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin:2rem;
   width: 40rem;
}

.game-preview .preview.active{
   display: inline-block;
}

.game-preview .preview img{
   height: 30rem;
}

.game-preview .preview .fa-times{
   position: absolute;
   top:1rem; right:1.5rem;
   cursor: pointer;
   color:#444;
   font-size: 4rem;
}

.game-preview .preview .fa-times:hover{
   transform: rotate(90deg);
}

.game-preview .preview h3{
   color:#444;
   padding:.5rem 0;
   font-size: 2.5rem;
   font-family:'VT323', monospace;
   ;
}

.game-preview .preview p{
   line-height: 1.5;
   padding:1rem 0;
   font-size: 1.6rem;
   color:#777;
}

.game-preview .preview .buttons{
   display: flex;
   gap:1.5rem;
   flex-wrap: wrap;
   margin-top: 1rem;
}

.game-preview .preview .buttons a{
   flex:1 1 16rem;
   padding:1rem;
   font-size: 1.8rem;
   color:#444;
   border:.1rem solid #444;
   border-radius: 50px;
}

.game-preview .preview .buttons a.play:hover{
   background: #444;
   color:#fff;
}


@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   .game-preview .preview img{
      height: 25rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

}
.preloader{
   background: beige url(images/giphy\ \(1\).gif) no-repeat center;
   background-size: 10%;
   top: 0;
   left:0;
   height: 100vh;
   width:100%;
   position: fixed;
   z-index: 100;
   transition: opacity 0.75s, visibility 0.75s;
 }
 .preloader--hidden{
   opacity: 0;
   visibility: hidden;
 }
