@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    background-color: #dbd8d2;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
 
    text-align: center;
}

#board {
    height: 532px;
    width: 475px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border: 10px solid rgb(21, 20, 20);
}

.card {
    height: 128px;
    width: 90px;
    margin: 2.5px;
    border-radius: 6%;
}

.back_mp{
    background-color: rgb(234, 206, 129);
   border: none;
   margin-top: 25px;
   color: black;
   border-radius: 40px;
   padding: 8px 20px;
   display: inline-block;
   font-weight: 800;
   margin-right: 20px;
   text-decoration: none;
   text-transform: uppercase;
   font-family: 'Montserrat', sans-serif;
 }